{
  "username": "{{ web_username }}",
  "password": "{{ web_password }}",
  "host_name": "{{ aops_host_name }}",
  "host_group_name": "{{ host_group_name }}",
  "zeus_ip": "{{ manager_ip }}",
  "zeus_port": "{{ manager_port }}",
  "management": {% if management %} true {% else %} false {% endif %},
  "ceres_port": "{{ agent_port }}"
}
